<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="loader nav-bar-loader"></div>
    <nav class="nav-bar">
      <img class="logo" src="assets/logo.svg" alt="logo" />
      <img class="youtube-icon" src="assets/youtube-icon.svg" alt="logo" />
      <div class="search">
        <div class="search-bar">
          <input class="search-field" type="text" />
          <div class="cancel-icon">
            <i class="fa fa-xmark"></i>
          </div>
        </div>
        <button type="submit">
          <i class="fa fa-search fa-lg"></i>
        </button>
      </div>
    </nav>
  </body>
</html>
