<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="filtered-results">
      <h3>About 13,000,000 filtered results</h3>
      <div class="filter">
        <!-- <i class="fa fa-filter"></i> -->
        <img src="assets/filter.svg" alt="filter" />
        <p>FILTER</p>
      </div>
    </section>
    <section class="filtered-results-min">
      <select name="all" id="all" class="select-lists">
        <option value="all">All</option>
        <option value="all">All</option>
      </select>
      <select name="anytime" id="anytime" class="select-lists">
        <option value="anytime">Anytime</option>
      </select>
    </section>
    <hr />
  </body>
</html>
