@use ".../sass/constants";

// Videos Section

.video {
  display: flex;
  margin: 15px 0;
  img {
    height: $videoImgHeight;
    width: $videImgWidth;
    margin-right: 10px;
  }

  .video-thumb {
    position: relative;
  }

  .duration {
    width: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    position: absolute;
    bottom: 15px;
    right: 25px;
  }
  h3 {
    font-weight: bold;
  }
  p {
    color: $grayColor;
    font-size: 14px;
    margin: 4px 0 0 0;
  }
  .video-info {
    display: flex;
    align-items: center;
  }

  .loader {
    width: 25vw;
    margin: -6px 0 0 0;
  }
}
