<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="video">
      <div class="video-thumb">
        <img
          src="https://i.ytimg.com/vi/MqaPocXcB64/mqdefault.jpg"
          alt="thumb"
        />
        <div class="duration">5:00</div>
        <div class="loader"></div>
      </div>

      <div>
        <h3>SpongeBob | Nickelodeon Arabia | سبونج بوب | حب الجيران</h3>
        <div class="video-infos">
          <p>
            Nickelodeon Arabia
            <span><i class="fa fa-circle-check"></i></span>
          </p>
          <p>50M views</p>
          <p class="time-ago">1 year ago</p>
        </div>
        <p class="video-description">
          Wie zijn de allerbeste vrienden in heel Bikinibroek? Abonneer je nu
          voor nog meer van je favoriete Nickelodeon-series, zoals ...
        </p>
      </div>
    </div>
  </body>
</html>
